pytest
pytest-subtests
pytest-regressions
pytest-profiling
pytest-cov
scipy
nbmake
mpi4py
xarray
zarr
dask
netCDF4
cftime
fv3config
f90nml
numpy
-e /home/Frank.Malatino/ndsl_fork
-e /home/Frank.Malatino/pyshield_fork
-e /home/Frank.Malatino/pyfv3_fork
-e .
